{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "always"],//语句强制分号结尾
    "no-console": 0,
    "comma-dangle": [0],//对象字面量项尾不能有逗号
    "max-len": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "space-before-function-paren": [2, "always"],//函数定义时括号前面要不要有空格
    "no-unused-expressions": [0, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],//禁止无用的表达式
    "arrow-body-style": [0, "never"],
    "func-names": 0,//函数表达式必须有名字
    "prefer-const": 0,//首选const
    "no-extend-native": 0,
    "no-param-reassign": 0,//禁止给参数重新赋值
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "no-continue": 0,
    "react/jsx-no-bind": 0,
    "no-unused-vars": [0, { "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/jsx-closing-bracket-location": 2,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/no-danger": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-const-assign": 2,//禁止修改const变量
    "one-var": 0, //连续声明
    "arrow-parens": 0,
    "no-trailing-spaces": 0,//禁用行尾空格
    "no-useless-constructor": 0, //禁止不必要的构造函数
    "array-callback-return": 0, //强制数组方法的回调函数中有 return 语句
    "no-mixed-operators": 0, //禁止混合使用不同的操作符
    "no-plusplus": 0, //禁用一元操作符 ++ 和 --
    "no-multi-assign": 0 //净值连续赋值
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "node"
    }
}
